{% extends "base.html" %}

{% block title %}
Booking Requests
{% endblock %}

{% block content %}

<h2 class="mb-4">Booking Requests</h2>

<table class="table table-bordered table-striped">

    <thead class="table-dark">

        <tr>

            <th>Room</th>
            <th>Student</th>
            <th>Booking Date</th>
            <th>Status</th>
            <th>Action</th>

        </tr>

    </thead>

    <tbody>

    {% for booking in bookings %}

    <tr>

        <td>{{ booking.room.title }}</td>

        <td>{{ booking.student.fullname }}</td>

        <td>{{ booking.booking_date.strftime("%d-%m-%Y") }}</td>

        <td>

            {% if booking.status == "Pending" %}

                <span class="badge bg-warning">
                    Pending
                </span>

            {% elif booking.status == "Approved" %}

                <span class="badge bg-success">
                    Approved
                </span>

            {% else %}

                <span class="badge bg-danger">
                    Rejected
                </span>

            {% endif %}

        </td>

        <td>

            {% if booking.status == "Pending" %}

            <a
                href="{{ url_for('booking.approve_booking', booking_id=booking.id) }}"
                class="btn btn-success btn-sm">

                Approve

            </a>

            <a
                href="{{ url_for('booking.reject_booking', booking_id=booking.id) }}"
                class="btn btn-danger btn-sm">

                Reject

            </a>

            {% endif %}

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}